@charset "utf-8";
/* CSS Document */
article {
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 1px solid #eee;
}
   
article header h3 {
   margin-top: 0;
}

.form-search {
   margin-top: 20px;
}

.form-search input[type=text] {
   width: 195px;
}

a.thumbnail.pull-left {
   margin-right: 20px;
}

.notop, .notop h2 {
   margin-top: 0;
}

.marginbottom {
   margin-bottom: 20px;
}

.breadcrumb {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

